* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
}

.container section {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #66b9f0;
}

.container section:nth-child(2) {
  background: #82f066;
}
.container section:nth-child(3) {
  background: #e7f066;
}
.container section:nth-child(4) {
  background: #4d57e7;
}

section .content {
  max-width: 800px;
  padding: 40px;
  text-align: center;
}

.content h2 {
  font-size: 4em;
}

.content p {
  font-size: 1.3em;
  line-height: 1.5em;
}
/*
.image-container {
  height: 100vw;
  width: 100vh;
  transform: rotate(-90deg) translate(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider {
  width: 400vw;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg) translate(-100vh);
  transform-origin: top left;
}

.slide {
  color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  background-color: #f06666;
}
.two {
  background-color: #82f066;
}
.three {
  background-color: #66b9f0;
}

::-webkit-scrollbar {
  display: none;
}
*/
