* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
  transition: all 0.4s;
}

li:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}
