* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
  transition: all 0.4s;
}

li:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
}
p {
  margin-top: 30px;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

img {
  width: 50%;
}

.main-nav {
  position: fixed;
  display: flex;
}

.main-nav .ul__second {
  position: fixed;
  display: flex;
  right: 4em;
}

.main-nav .ul__second li {
  margin-left: 1.5em;
}

.main-nav .ul__second #border {
  border: 1px solid crimson;
  padding: 0 15px;
  align-items: center;
}

.container {
}

.container .summer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em;
}

.container .summer .image {
}
